.navi{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 70px;
  border-color: black;
}
.navi div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 50%;
  margin-right: 20px;
  border-radius: 25px;
  text-decoration: none;
  
}
.lin{
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-shadow: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.lin:hover{
 color: orangered;
}
.box{
  color: black ;
  background-color:blanchedalmond;
  height: fit-content;
  width: fit-content;
  margin: 20px;
}
.box img{
  min-height: 225px;
  height: fit-content;
  
}
.book{
  display: flex;
  justify-content: center;
  margin: 5px;
}
.book button{
  border-radius: 5px;
  border-width: 1px;
  height: 25px;
}
.dir{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.bu{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bu button{
  background-color: bisque;
  height: 40px;
  width: 100px;
  border-radius: 5px;
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form input{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 300px;
  margin: 5px;
}
.order{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.frm{
  display: flex;
  flex-direction: column;
  font-size: 30px;
  width: 600px;
}

.frm input{
  font-size: 25px;
}
.sam{
  display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.sam > input {
  margin-left: 10px; 
  background-color: transparent;
  border-width: 0px;
}
.sam > label {
  min-width: 140px; 
}
.res{
  margin-right: 110px;
}
.time{
  margin-right: 150px;
}
.subm{
  display: flex;
  justify-content: center;
}
.after{
  display: flex;
  justify-content: center;
  font-size: 40px;
}
